# Nest (backend)
back/node_modules/
back/dist/
back/*.env
files/*

# Angular (web)
web/node_modules
web/node_modules/
web/dist/
web/e2e/
web/.vscode/
web/.angular/
web/environments

# Flutter (mobil)
mobil/.dart_tool/
mobil/build/
mobil/.flutter-plugins
mobil/.flutter-plugins-dependencies
mobil/.idea/
mobil/*.iml
mobil/.vscode/

# IDE
.idea
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
