# Nest (backend)
back/node_modules/
back/dist/
back/*.env
files/*

# Angular (web)
front/node_modules
front/node_modules/
front/dist/
front/e2e/
front/.vscode/
front/.angular/
front/environments

# Flutter (mobil)
mobil/.dart_tool/
mobil/build/
mobil/.flutter-plugins
mobil/.flutter-plugins-dependencies
mobil/.idea/
mobil/*.iml
mobil/.vscode/

# IDE
.idea
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
