.toolbar {
    height: 64px;
    background-color: #ffffff;
  }
  
  .biggerbutton {
    width: 150px !important;
    height: 100px !important;
    font-size: 30px !important;
  }
  
  .toolBarButton, .drawerButton {
    padding: 20px;
  }
      .full-width {
        width: 100%;
        box-sizing: border-box;
      }

      .container {
        height: calc(100vh - 64px);
      }
  .drawer {
    background-color: #222222;
    width: 200px;
  }
  .drawer-content {
    flex: 1;
    overflow-y: auto;
}
  
  .burger {
    color: rgb(0, 0, 0);
  }
  
  @media all and (max-width: 500px) {
    .toolBarButton {
      display: none;
    }
  
    .toolbar {
      height: 5%;
    }
  
    .container {
      height: 95%;
    }
  }

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  flex-shrink: 0;
}

.drawer-container {
  flex-grow: 1;
  overflow: hidden;
}

.content {
  height: 100%;
  overflow-y: auto;
}
