.toolbar {
  flex-shrink: 0;
  height: 64px;
  background-color: #ffffff;
  width: 100%;
}

.biggerbutton {
  width: 150px !important;
  height: 100px !important;
  font-size: 30px !important;
}

.toolBarButton, .drawerButton {
  padding: 20px;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.drawer-container {
  flex: 1;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.drawer {
  background-color: #222222;
  width: 200px;
  overflow-y: auto;
}

.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  max-width: 100%;
}

.burger {
  color: rgb(0, 0, 0);
}

@media all and (max-width: 500px) {
  .toolBarButton {
    display: none;
  }

  .toolbar {
    height: 5%;
  }

  .sidebar-container {
    height: 95%;
  }
}

* {
  box-sizing: border-box;
}
