<div class="d-flex flex-wrap">
  <div class="card m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">INICIO DE ACTIVIDADES DEL AUTOR</h5>
      <p class="card-text">Haz clic para ver el documento.</p>
      <a href="user/docuno" class="btn btn-primary">Ver Documento</a>
    </div>
  </div>
  <div class="card m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Documento Dos</h5>
      <p class="card-text">Haz clic para ver el documento.</p>
      <a href="user/docdos" class="btn btn-primary">Ver Documento</a>
    </div>
  </div>
  <div class="card m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Documento Tres</h5>
      <p class="card-text">Haz clic para ver el documento.</p>
      <a href="user/doctres" class="btn btn-primary">Ver Documento</a>
    </div>
  </div>
  <div class="card m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Documento cuatro</h5>
      <p class="card-text">Haz clic para ver el documento.</p>
      <a href="user/doccuatro" class="btn btn-primary">Ver Documento</a>
    </div>
  </div>
  <div class="card m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">CONTROL DE ASISTENCIA DEL ESTUDIANTE</h5>
      <p class="card-text">Haz clic para ver el documento.</p>
      <a href="user/doccinco" class="btn btn-primary">Ver Documento</a>
    </div>
  </div>
  <div class="card m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Documento Seis</h5>
      <p class="card-text">Haz clic para ver el documento.</p>
      <a href="user/docseis" class="btn btn-primary">Ver Documento</a>
    </div>
  </div>
  <div class="card m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Documento siete</h5>
      <p class="card-text">Haz clic para ver el documento.</p>
      <a href="user/docsiete" class="btn btn-primary">Ver Documento</a>
    </div>
  </div>
  <div class="card m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Documento Ocho</h5>
      <p class="card-text">Haz clic para ver el documento.</p>
      <a href="user/dococho" class="btn btn-primary">Ver Documento</a>
    </div>
  </div>
  <div class="card m-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Documento Nueve</h5>
      <p class="card-text">Haz clic para ver el documento.</p>
      <a href="user/docnueve" class="btn btn-primary">Ver Documento</a>
    </div>
  </div>
</div>
