<div class="a4-page" id="a4-page">
    <app-encabezado [titulo_documento]="titulo"></app-encabezado>
    <div class="cuerpo_body">
        <p style="font-size: 15px; text-align: center; padding-top: 5px;">INSTITUTO SUPERIOR TECNOLÓGICO DE TURISMO Y
            PATRIMONIO "YAVIRAC"</p>

        <p style="padding-top: 10px; font-size: 15px; text-align: center;">ACTA COMPROMISO DE PARTICIPACIÓN EN
            VINCULACIÓN CON LA COMUNIDAD</p>
        <br>
        <p style=" font-size: 14px;">Yo, {{estudiente.nombres}} con C.I. {{estudiente.cedula}} estudiante del Instituto
            Superior
            Tecnológico de Turismo y Patrimonio "YAVIRAC" de la Carrera de {{estudiente.carrera.nombre}} del
            {{estudiente.nivel}} nivel
            quien va a realizar la vinculación con la sociedad en la Fundación Acción Animal Ecuador
            me comprometo a seguir las siguientes recomendaciones:
        </p>

        <p style="font-size: 12px; border: solid 1px; margin-top: 15px;">"Art. 22.- Obligaciones de los estudiantes de
            prácticas y
            vinculación con la
            sociedad. -
            a. Cumplir con las horas exigidas de prácticas pre profesionales o deformación dual y vinculación con la
            sociedad, dentro del programa curricular de su carrera y la normativa del instituto.
            b. Cumplir de forma eficiente, diligente y con calidez, las acciones encomendadas en el área y modalidad
            de práctica, y vinculación con la sociedad establecida.
            c. Conservar una apropiada presentación personal, y de ser el caso utilizar uniforme o la vestimenta de
            acuerdo a las políticas internas de la entidad receptora o el ISTY.
            d. Mantener absoluta reserva sobre toda información interna de la entidad receptora.
            e. Demostrar responsabilidad, disciplina, ética y eficiencia durante el desarrollo de sus prácticas o
            vinculación con la sociedad.
            f. Asistir puntualmente a las jornadas establecidas por la entidad receptoras o el ISTY.
            g. Informar en in máximo de 72 horas al tutor académico y empresarial, cuando por enfermedad o fuerza
            mayor se vea impedido de asistir a cumplir con su jornada de prácticas o vinculación con la sociedad.
            h. Cumplir con las disposiciones enmarcadas por el ISTY, y por la entidad receptora de lo concerniente a
            su práctica o vinculación con la sociedad.
            i. Informar de forma escrita al tutor académico del instituto y de la entidad receptora sobre las
            novedades que se produzcan en el desempeño de sus tareas, a fin de establecer correctivos necesarios con
            el fin de ayudar el normal desarrollo de sus actividades.
            j. Guardar las debidas consideraciones éticas y humanas todo el personal en las entidades receptoras,
            tutores académicos, responsables y demás miembros relacionados del área.
            k. Presentar al tutor académico, la documentación necesaria para el registro de sus horas cumplidas en
            actividades de prácticas o vinculación con la sociedad.
            l. L. permanecer en la entidad receptora el tiempo determinado según el cronograma elaborado entre la
            entidad receptora y el ISTY.
            m. M. entregar un informe escrito del proyecto donde se evidencia el trabajo ejecutado en las prácticas
            pre profesionales o formación dual y vinculación con la sociedad.
            n. En caso de existir plazas disponibles para la realización de la vinculación con la sociedad el
            estudiante deberá aceptar dicha plaza; y,
            o. Las demás obligaciones que se encuentren establecidas en los convenios individuales pertinentes. ´
            "
        </p>
        <p style="font-size: 12px; padding-top: 5px; border:  solid 1px;">
            " Art 23.- Prohibiciones a los estudiantes. -
            a. Crear documentación o circunstancias diferentes a las prácticas o vinculación con la sociedad.
            b. Disponer de los servicios, equipos y suministros de la entidad receptora para asuntos personales,
            salvo en casos de emergencia y previa autorización del responsable.
            c. Asistir al lugar de desarrollo de las prácticas o vinculación con la sociedad, bajo influencia la
            influencia de bebidas alcohólicas y sustancias sicotrópicas.
            d. Atender o aceptar visitas de tipo particular dentro de la entidad receptora.
            e. Cambiar de turno o encargar a otra persona, la realización de su práctica o vinculación con la
            sociedad.
            f. Abandonar las prácticas o vinculación con la sociedad, sin autorización del tutor académico y
            empresarial.
            g. Promover o participar en actos de indisciplina que alteren el normal funcionamiento de la entidad
            receptora.
            h. Cometer actos que alteren las buenas costumbres y que atenten contra la salud y contra la seguridad
            de la entidad receptora o el ISTY.
            i. Abandonar las prácticas o vinculación con la sociedad sin justificación.
            j. Incumplir con las tareas asignadas en el área o realizar prácticas ajenas a su función.
            k. Sustraer bienes, divulgar o copiar información de la entidad receptora; y,
            l. Las demás establecidas en las normativas vigentes."
        </p>
        <p style="font-size: 12px; padding-top: 5px; border:  solid 1px; ">"El incumplimiento de lo establecido en
            esta Acta se aplicará el Art. 24 del Reglamento Interno de Prácticas preprofesionales, formación dual y
            vinculación con la sociedad del ISTY.

            Una vez que he leído y comprendido las normas a seguir durante el desarrollo de las actividades, en mi
            calidad de participante, entendiendo que estas son para un beneficio tanto colectivo como individual y
            procura el bienestar de todos quienes asistimos a estos eventos, me comprometo a seguir dichas
            recomendaciones y evitar causar cualquier actividad que pusiere en peligro a mi persona como al grupo en
            general.
            Una vez leído y entendido el contenido de la presente Acta, acepto las condiciones del mismo en favor de
            mi bienestar, para constancia de lo cual lo suscriben en el día"



        </p>
        <p style="font-size: 12px; padding-top: 5px; border:  solid 1px;">
            miércoles, 3 de enero de 2024
        </p>


        <table>
            <tr>
                <th style=" padding: 0 ; text-align: center;">Estudiante</th>
                <th style=" padding:0; text-align: center;">Cédula de Identidad</th>
                <th style=" padding:0 ; text-align: center;">Nivel</th>
                <th style=" padding:0 ; text-align: center;">Firma</th>
            </tr>
            <tr>
                <td>{{estudiente.nombres}}</td>
                <td>{{estudiente.cedula}}</td>
                <td>{{estudiente.nivel}}</td>
                <td class="firma"></td> <!-- Espacio grande para la firma -->
            </tr>
        </table>
        <div>
            <p>en constancia</p>

            <br>
            <br>
            <hr>

            <p style="text-align: center;">{{docente_tutor.nombre}}</p>
            <p style="text-align: center;">DOCENTE TUTOR</p>
        </div>
    </div>
</div>